@tailwind base;
@tailwind components;
@tailwind utilities;

@layer componets {
    .btn {
        border-radius: '5px';
    }

}



.BGBox {
    position: absolute;
    background-color: rgb(218, 218, 218);
}

.backdropSlit {
    position: relative;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    height: 8rem/* 40px */;
}

