@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Quicksand&display=swap');

@layer componets {
    .btn {
        border-radius: '5px';
    }

}

.BGBox {
    position: absolute;
    width: 100%;
    background-color: rgb(230, 230, 230);
}

.backdropSlit {
    position: relative;
    width: 100%;
    height: 2rem/* 40px */;
}

.backdropSlit .front {
    position: absolute;
    background-color: rgb(230, 230, 230);
    height: 100%;
    width: 100%;
}

.backdropSlit .back {
    position: absolute;
    background-color: rgb(255, 218, 7);
    height: 100%;
    width: 100%;
}

.IntersectEnter {
    position: relative;
    height: 600px;
    width: 70vw;
    margin: auto;
    margin-top: 40px;
    background-color: green;
}


